<template>
  <header class="card">
    <h1>لیست وظایف</h1>

    <button id="theme-switcher" @click="changeTheme">
      <img v-if="defaultTheme == 'dark'" :src="sun" alt="change color theme" />
      <img v-else :src="moon" alt="change color theme" />
    </button>
  </header>
</template>

<script setup>
import sun from "../assets/images/icon-sun.svg";
import moon from "../assets/images/icon-moon copy.svg";
import { ref } from "vue";
// name: "appHeader",

// sunImage: sun,
// moonImage: moon,
const defaultTheme = ref("dark");

function changeTheme() {
  if (defaultTheme.value == "dark") {
    defaultTheme.value = "light";
    document.querySelector("body").classList.add("light");
  } else {
    defaultTheme.value = "dark";
    document.querySelector("body").classList.remove("light");
  }
}
</script>
