<template>
  <li class="card" draggable="true">
    <div class="cb-container">
      <input
        type="checkbox"
        :checked="todo.isComplate ? true : null"
        class="cb-input"
        @click="checkTodo"
      />
      <span class="check"></span>
    </div>
    <p class="item">
      <del v-if="todo.isComplate == true">{{ todo.title }}</del>
      <span v-else v-text="todo.title"></span>
    </p>
    <button class="clear" @click="deleteTodo">
      <img :src="cross" alt="Clear it" />
    </button>
  </li>
</template>

<script setup>
import cross from "../assets/images/icon-cross copy.svg";
import { defineEmits, defineProps, toRef } from "vue";

const props = defineProps({ todo: Object });
const emits = defineEmits(["checkTodo", "Deleted"]);
const todo = toRef(props, "todo");
function deleteTodo() {
  if (confirm("ایا از حذف اطمینان دارید")) {
    emits("Deleted", todo.value.id);
  }
}
function checkTodo() {
  emits("checkTodo", todo.value.id, !todo.value.isComplate);
}
</script>

<style scoped></style>
