<template>
  <appHeader />
  <main>
    <AddTodo @AddNewTodo="addTodo" />
    <ul class="todos">
      <Todo
        v-for="(item, i) in getTodo"
        :key="item.id"
        :todo="item"
        @dragstart="dragStart(i)"
        @Deleted="Deletedtodo"
        @checkTodo="changeTodo"
        @dragover.prevent
        @drop="drop(i)"
      />
    </ul>
    <div class="card stat">
      <p class="corner">
        <span id="item-left">{{ getActiveTodoCount }}</span
        >باقی مانده مورد
      </p>
      <div class="filter">
        <button
          id="all"
          :class="{ on: activeTab == 'all' }"
          @click="changeTab('all')"
        >
          همه
        </button>
        <button
          id="active"
          :class="{ on: activeTab == 'active' }"
          @click="changeTab('active')"
        >
          فعال
        </button>
        <button
          id="completed"
          :class="{ on: activeTab == 'completed' }"
          @click="changeTab('completed')"
        >
          تکمیل
        </button>
      </div>
      <div class="corner">
        <button @click="deleteCopleted" id="clear-completed">
          حذف تکمیل شده ها
        </button>
      </div>
    </div>
  </main>
  <AppFooter></AppFooter>
</template>

<script setup>
import appHeader from "./components/appHeader.vue";
import AppFooter from "./components/AppFooter.vue";
import AddTodo from "./components/AddTodo.vue";
import Todo from "./components/Todo.vue";
import { ref, computed } from "vue";
import { useToast } from "vue-toastification";

var todos = ref([]);
const dragging = ref(-1);
const activeTab = ref("all");
const toast = useToast();
const getActiveTodoCount = computed(() => {
  return todos.value.filter((f) => f.isComplate == false).length;
});

const getTodo = computed(() => {
  switch (activeTab.value) {
    case "all":
      return todos.value;
    case "active":
      return todos.value.filter((f) => f.isComplate == false);
    case "completed":
      return todos.value.filter((f) => f.isComplate == true);
    default:
      return todos.value;
  }
});
function addTodo(title) {
  if (!title) {
    toast.error("عنوان را وارد کنید");
    return;
  }

  const id = Math.random().toString(16).slice(2);
  const todo = { id, title: title, isComplate: false };
  todos.value.push(todo);
  toast.success("عملیات با موفقیت انجام شد");
}

function Deletedtodo(id) {
  const todo = todos.value.find((f) => f.id == id);
  todos.value = todos.value.filter((f) => f.id !== id);
  toast.error(`${todo.title}حذف شد`);
}
function changeTodo(id, newCheck) {
  console.log(id);
  console.log(newCheck);
  var newTodos = [...todos.value];
  var selectedTodo = newTodos.find((f) => f.id === id);
  selectedTodo.isComplate = newCheck;
  todos.value = newTodos;
}
function deleteCopleted() {
  if (confirm("ایا از حذف اطمینان دارید")) {
    var newTodos = [...todos.value];
    newTodos = newTodos.filter((f) => f.isComplate == false);
    todos.value = newTodos;
    toast.success("عملیات با موفقیت انجام شد");
  }
}
function dragStart(index) {
  dragging.value = index;
}
function drop(index) {
  var newElement = todos.value.splice(dragging.value, 1)[0];
  //  activeTab.value = tab;
  todos.value.splice(index, 0, newElement);
  // console.log(newElement);
  // console.log(index);
}
function changeTab(tab) {
  this.activeTab.value = tab;
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
